body {
  background-color: var(--background-color-darkest);
  margin: 0;
  padding: 0;
}

.writing-code {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.header,
.icon-btn-back,
.background-btn-back {
  position: absolute;
}

.header {
  width: 70px;
  height: 70px;
  top: 58px;
  left: 89px;
  border-radius: 5px;
}

.icon-btn-back {
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

.background-btn-back {
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
  background-color: var(--background-color-lightest);
  border-radius: 5px;
}

.tree {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 180px;
  align-items: flex-start;
  max-width: 1900px;
  margin: 0 auto;
}

ul {
  padding-left: 0;
  list-style: none;
}

.code {
  position: relative;
  width: 1150px;
  background-color: var(--background-color-dark);
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.lang-container {
  display: flex;
  align-items: center;
}

.icon-lang {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 5px 10px;
}

.text-lang {
  font-family: "Inter", var(--font-family-default);
  color: var(--text-color-light);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-lg);
  text-align: left;
  white-space: nowrap;
}

.background-code {
  background-color: var(--background-color-code);
  border: 1px solid var(--text-color-light);
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  display: flex;
  flex-direction: row;
}

.text-lines {
  font-family: var(--font-family-mono);
  color: var(--text-color-light);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-small);
  text-align: right;
  white-space: nowrap;
  margin-top: 5px;
  margin-left: 10px;
}

.field-write-code {
  flex-grow: 1;
  background-color: transparent;
  font-family: var(--font-family-mono);
  color: var(--text-color-light);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-small);
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  padding-left: 10px;
}

.text-tech-info {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-xs);
  color: var(--text-color-light);
  margin: 790px 15px 5px 0;
  text-align: right;
}

.error {
  position: absolute;
  left: 35%;
  top: 100px;
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
  padding: 30px;
  border-radius: var(--border-radius-sm);
  max-width: 500px;
}

h1 {
  font-family: "Inter", var(--font-family-default);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-large);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.info-box {
  position: sticky;
  top: 20px;
  margin-top: 20px;
  left: calc(50% + 750px);
  transform: translateX(-50%);
  width: 250px;
  background-color: var(--background-color-medium);
  border-radius: var(--border-radius-sm);
  padding: 15px;
  z-index: 1000;
}

.project-btn {
  width: 230px;
  height: 40px;
  margin-left: 5px;
  background-color: var(--background-color-light);
  border-radius: var(--border-radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  border: 1px solid var(--border-color-dark);
}

.save-project-btn {
  margin-bottom: 10px;
}

.project-btn:hover {
  transform: scale(1.05);
  border: none;
  outline: none;
}

.save-project-btn:hover {
  background-color: var(--background-color-green);
}

.delete-project-btn:hover {
  background-color: var(--background-color-red);
}

.save-project-button-text,
.delete-project-button-text {
  font-family: "Inter", var(--font-family-default);
  color: var(--text-color-dark);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-large);
  white-space: nowrap;
}
