:root {
    --font-family-default: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 'Helvetica Neue', Arial;
    --font-family-mono: PT Mono, monospace;

    --background-color-darkest: #0d1117;
    --background-color-dark: #212830;
    --background-color-medium: #6f6f6f;
    --background-color-muted: #d9d9d9;
    --background-color-light: #ababab;
    --background-color-lightest: #cecece;

    --background-color-code: #151b23;
    --background-color-green: #28a745;
    --background-color-red: #dc3545;

    --text-color-light: #ffffff;
    --text-color-dark: #000000;
    --text-color-muted: #d6d6d6;

    --border-color-light: #ffffff;
    --border-color-dark: #000000;
    --border-radius-xs: 5px;
    --border-radius-sm: 15px;
    --border-radius: 20px;
    --border-radius-lg: 25px;
    --border-radius-xl: 40px;

    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size: 25px;
    --font-size-lg: 30px;
    --font-size-xl: 35px;
    --font-size-subtitle: 40px;
    --font-size-title: 55px;

    --line-height-sm: 27px;
    --line-height: 36px;
    --line-height-lg: 45px;
    --line-height-xl: 53px;
    --line-height-subtitle: 50px;
    --line-height-title: 82.5px;
    --line-height-small: 1.4;
    --line-height-large: 1.5;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
}
