:root {
  --font-family-default: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, SFProLocalRange;
  --color-background-dark: #0d1117;
  --color-background-light: #212830;
  --color-background-medium: #6f6f6f;
  --color-background-lightest: #ababab;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-btn-send: #238636;
  --color-border: #ffffff;
  --font-size-default: 30px;
  --font-size-small: 25px;
  --line-height-default: 36px;
  --line-height-small: 37.5px;
  --border-radius-default: 25px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --color-title-background: #d9d9d9;
  --color-basic-info-background: #212830;
}

body {
  background-color: var(--color-background-dark);
  margin: 0;
  padding: 0;
}

.information-about {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.header, .icon-btn-back, .background-btn-back {
  position: absolute;
}

.header {
  width: 70px;
  height: 70px;
  top: 58px;
  left: 89px;
  border-radius: 5px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1940px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  box-sizing: border-box;
}

.icon-btn-back {
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

.background-btn-back {
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
  background-color: var(--color-background-lightest);
  border-radius: 5px;
}

.title {
  position: absolute;
  width: 759px;
  height: 217px;
  top: 226px;
  left: 312px;
  background-color: var(--color-title-background);
  border-radius: 30px;
}

.text-name-lang {
  position: absolute;
  width: 639px;
  top: 12px;
  left: 27px;
  font-family: "Inter", var(--font-family-default);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-dark);
  font-size: 55px;
  letter-spacing: -1.04px;
  line-height: 82.5px;
  white-space: nowrap;
}

.text-description-lang {
  position: absolute;
  width: 679px;
  top: 83px;
  left: 27px;
  font-family: "Inter", var(--font-family-default);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-dark);
  font-size: 40px;
  letter-spacing: -0.76px;
  line-height: 60px;
}

.img-lang {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 11px;
  left: 666px;
  object-fit: cover;
}

.background-basic-info {
  position: absolute;
  width: 477px;
  height: 217px;
  top: 226px;
  left: 1120px;
  background-color: var(--color-basic-info-background);
  border-radius: 20px;
  border: 2px solid;
  border-color: var(--color-border);
}

.tag-basic-info {
  position: absolute;
  width: 457px;
  left: 15px;
  font-family: "Inter", var(--font-family-default);
  color: var(--color-text-light);
  font-size: 27px;
  line-height: 45px;
  font-weight: var(--font-weight-bold);
}

.tag-basic-info-1 {
  top: 0px;
}

.tag-basic-info-2 {
  top: 70px;
}

.tag-basic-info-3 {
  top: 140px;
}

.subtext-basic-info {
  position: absolute;
  width: 457px;
  left: 15px;
  font-family: "Inter", var(--font-family-default);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-light);
  font-size: var(--font-size-small);
  line-height: 45px;
}

.subtext-basic-info-1 {
  top: 30px;
}

.subtext-basic-info-2 {
  top: 100px;
}

.subtext-basic-info-3 {
  top: 170px;
}

.background-additional-info {
  position: absolute;
  width: 1285px;
  margin: 20px auto;
  top: 481px;
  left: 312px;
  padding: 30px;
  background-color: var(--color-basic-info-background);
  border-radius: 20px;
  box-sizing: border-box;
}

.text-additional-info {
  color: var(--color-text-light);
  font-family: "Inter", var(--font-family-default);
  font-size: var(--font-size-small);
  letter-spacing: -0.47px;
  line-height: 1.5;
}

.features-list {
  list-style: none;
  padding-left: 0;
  margin: 40px 0;
  counter-reset: list-counter;
}

.features-list li {
  margin-bottom: 40px;
  counter-increment: list-counter;
  position: relative;
  color: var(--color-text-light);
  font-family: "Inter", var(--font-family-default);
  font-size: var(--font-size-small);
  /* letter-spacing: -0.47px; */
  line-height: 1.5;
  letter-spacing: -1.9%;
}

.features-list li::before {
  content: counter(list-counter) ". ";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: var(--font-weight-regular);
}

.features-list .bold-subtext {
  margin-bottom: 5px;
  padding-left: 30px;
  font-weight: var(--font-weight-bold);
}

.features-list .subtext {
  font-weight: var(--font-weight-regular);
}
