body {
  background-color: var(--background-color-darkest);
  margin: 0;
  padding: 0;
}

.services-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.icon-btn-back {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

.background-btn-back {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 58px;
  left: 89px;
  background-color: var(--background-color-lightest);
  border-radius: var(--border-radius-xs);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1940px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.file-count-text {
  position: absolute;
  top: 33px;
  left: 40px;
  font-family: "Inter", var(--font-family-default);
  color: var(--text-color-light);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-sm);
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}

.file-count-icon {
  filter: brightness(0) invert(1);
  width: 95px;
  height: 85px;
}

.field-search-text {
  position: relative;
  left: 81px;
  width: 1050px;
  height: 75px;
  font-family: "Inter", var(--font-family-default);
  color: var(--text-color-dark);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  background-color: transparent;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: auto;
  resize: none;
  outline: none;
  border: none;
  z-index: 5;
}

.field-search-text::placeholder {
  font-family: "Inter", var(--font-family-default);
  font-size: var(--font-size-lg);
  color: var(--text-color-dark);
}

.search-icon {
  position: absolute;
  top: 19px;
  left: 26px;
  width: 38px;
  height: 38px;
}

.separator-line {
  position: absolute;
  top: 309px;
  left: 244px;
  width: 1432px;
  height: 1px;
  background-color: var(--border-color-light);
}

.search-section,
.file-count-section {
  position: absolute;
}

.file-count-section {
  top: 168px;
  left: 1511px;
  width: 95px;
  height: 85px;
}

.search-section {
  top: 174px;
  left: 314px;
  width: 1161px;
  height: 75px;
  background-color: var(--background-color-lightest);
  border-radius: var(--border-radius-xl);
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  top: 370px;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 1500px;
  list-style-type: none;
}

.service-item {
  width: calc(50% - 20px);
  height: 220px;
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  position: relative;
}

.service-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease;
}

.service-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.service-title {
  padding-top: 10px;
  margin-left: 20px;
  font-family: "Inter", var(--font-family-default);
  color: var(--text-color-light);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xl);
  text-align: left;
  white-space: nowrap;
}

.service-description {
  margin-left: 20px;
  max-width: 550px;
  font-family: "PT Mono", var(--font-family-default);
  color: var(--text-color-muted);
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  text-align: left;
}

.service-image {
  position: absolute;
  top: 16px;
  left: 550px;
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.add-to-project-button-background {
  position: absolute;
  top: 135px;
  left: 30px;
  width: 310px;
  height: 60px;
  background-color: var(--background-color-lightest);
  border-radius: var(--border-radius-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  cursor: pointer;
  border: none;
  outline: none;
}

.add-to-project-button-background.success {
  animation: successAnimation 3s forwards;
}

.add-to-project-button-background.error {
  animation: errorAnimation 3s forwards;
}

.add-to-project-button-background:hover {
  transform: scale(1.05);
  background-color: var(--background-color-muted);
}

@keyframes successAnimation {
  0% {
    background-color: var(--background-color-muted);
  }
  20% {
    background-color: var(--background-color-green);
  }
  100% {
    background-color: var(--background-color-lightest);
  }
}

@keyframes errorAnimation {
  0% {
    background-color: var(--background-color-muted);
  }
  20% {
    background-color: var(--background-color-red);
  }
  100% {
    background-color: var(--background-color-lightest);
  }
}

.add-to-project-button-text {
  font-family: "Inter", var(--font-family-default);
  color: var(--text-color-dark);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-lg);
  white-space: nowrap;
}

.error {
  text-align: center;
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
  padding: 30px;
  border-radius: var(--border-radius-lg);
  max-width: 400px;
}

h1 {
  font-family: "Inter", var(--font-family-default);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-weight: var(--font-weight-bold);
  margin: 0;
}
