<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Mono:wght@400&display=swap"/>
    <link rel="stylesheet" href="/static/css/applications.css" />
</head>
<body>
    <div class="writing-code">
      <div class="header">
        <a href="/home" class="background-btn-back">
            <img class="icon-btn-back" src="/static/img/icon-btn-back.png" />
        </a>
      </div>
      <div class="tree">
        {{ if .Files }}
        <ul>
          {{ range .Files }}
          <li>
            {{ $fileLangID := .IDLang }}
            {{ $fileCode := .Code }}
            {{ range $.Langs }}
              {{ if eq .ID $fileLangID }}
                <div class="code">
                  <div class="lang-container">
                    <img class="icon-lang" src="{{ .ImgLink }}" />
                    <div class="text-lang">{{ .Name }}</div>
                  </div>
                  <div class="background-code">
                    <div class="text-lines">
                      1<br />2<br />3<br />4<br />5<br />6<br />7<br />8<br />9<br />10<br />11<br />12<br />13<br />14<br />15<br />16<br />17<br />18<br />19<br />20<br />21<br />22<br />23<br />24<br />25<br />26<br />27<br />28<br />29<br />30<br />31
                    </div>
                    <textarea class="field-write-code" placeholder="Введите код здесь...">{{ $fileCode }}</textarea>
                    <div class="text-tech-info">Ln 20, Col 15, Space: 4</div>
                  </div>
                </div>
              {{ end }}
            {{ end }}
          </li>
          {{ end }}
        </ul>
        {{ else }}
          <div class="error">
            <h1>Данный проект не найден</h1>
          </div>
        {{ end }}
      </div>
    </div>
</body>
</html>
