
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Mono:wght@400&display=swap"
    />
    <link rel="stylesheet" href="/static/css/services.css" />
  </head>
  <body>
    <div class="services-container">
      <div class="search-section">
          <form action="/home" method="GET">
              <input
                  type="text"
                  name="search"
                  class="field-search-text"
                  maxlength="100"
                  placeholder="Поиск..."
              />
              <button type="submit" style="display: none;">Поиск</button> <!-- скрытая кнопка для отправки формы -->
              <img class="search-icon" src="image/icon-find.png" />
          </form>
      </div>
      <div class="file-count-section">
        <a href="/app" class="file-count">
          <img class="file-count-icon" src="image/icon-count-files.png" />
          <div class="file-count-text">3</div>
        </a>
      </div>
      <img class="separator-line" src="image/line.png" />
      <ul class="service-list">
        {{ range .Langs }}
        <li class="service-item">
            <a href="/info/{{ .ID }}" class="service-link">
                <div class="service-title">{{ .Name }}</div>
                <div class="service-description">{{ .ShortDescription }}</div>
                <img class="service-image" src="{{ .ImgLink }}" alt="{{ .Name }}"/>
                <div class="add-to-project-button-background"></div>
                <div class="add-to-project-button-text">Добавить в проект</div>
            </a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="spacer"></div>
  </body>
</html>
          