
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Mono:wght@400&display=swap"
    />
    <link rel="stylesheet" href="/static/css/services.css" />
  </head>
  <body>
    <div class="services-container">
      <a href="/home" class="background-btn-back">
        <img class="icon-btn-back" src="/static/img/icon-btn-back.png" />
      </a>
      <div class="header">
        <div class="search-section">
          <form action="/home" method="GET">
            <input
              type="text"
              name="langname"
              class="field-search-text"
              maxlength="100"
              placeholder="Поиск..."
            />
            <button type="submit" style="display: none;">Поиск</button>
            <img class="search-icon" src="/static/img/icon-find.png" />
          </form>
        </div>
        <div class="file-count-section">
          <a href="/project/1" class="file-count">
            <img class="file-count-icon" src="/static/img/icon-count-files.png" />
            <div class="file-count-text">3</div>
          </a>
        </div>
        <img class="separator-line" src="/static/img/line.png" />
      </div>
      <ul class="service-list two-columns">
        {{ range .Langs }}
        <li class="service-item">
          <a href="/info/{{ .ID }}" class="service-link">
            <div class="service-title">{{ .Name }}</div>
            <div class="service-description">{{ .ShortDescription }}</div>
            <img class="service-image" src="{{ .ImgLink }}" alt="{{ .Name }}"/>
          </a>
          <div class="add-to-project-button-background">
            <div class="add-to-project-button-text">Добавить в проект</div>
          </div>
        </li>
        {{ else }}
          <div class="error">
            <h1>Данный язык не найден</h1>
          </div>
        {{ end }}
      </ul>
    </div>
  </body>
</html>
          