<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .title }}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Mono:wght@400&display=swap"
    />
    <link rel="stylesheet" href="/static/css/services.css" />
  </head>
  <body>
    <div class="main-page-services">
      <div class="div">
        <div class="overlap-5">
          <div class="text-find">Поиск...</div>
          <img class="icon-find" src="img/icon-find.svg" />
        </div>
        <div class="overlap-4">
          <img class="icon-count-files" src="img/icon-count-files.svg" />
          <div class="text-count-files">5</div>
        </div>
        <img class="line" src="img/line.svg" />
        <div class="overlap">
          <div class="backgrund"></div>
          <div class="backgrund-btn-add"></div>
          <div class="text-btn-add">Добавить в проект</div>
          <img class="img" src="img/css-1.png" />
          <div class="text-description">“Создает оформление веб-интерфейсов”</div>
          <div class="text-name">CSS</div>
        </div>
        <div class="overlap-group">
          <div class="backgrund"></div>
          <div class="backgrund-btn-add-2"></div>
          <div class="text-btn-add-lab">Добавить в проект</div>
          <img class="html" src="img/html-1.png" />
          <p class="text-description">“Основа структуры и содержания веб-страниц”</p>
          <div class="text-name">HTML</div>
        </div>
        <div class="overlap-group-2">
          <div class="backgrund"></div>
          <div class="backgrund-btn-add-2"></div>
          <div class="text-btn-add-lab">Добавить в проект</div>
          <img class="img" src="img/golang-1.png" />
          <div class="text-description">“Эффективный для масштабируемых решений”</div>
          <div class="text-name">GO</div>
        </div>
        <div class="overlap-2">
          <div class="backgrund"></div>
          <div class="backgrund-btn-add-3"></div>
          <div class="text-wrapper">Добавить в проект</div>
          <img class="img" src="img/cpp-1.png" />
          <p class="text-description">“Контроль и производительность в одном лице”</p>
          <div class="text-name">C++</div>
        </div>
        <div class="overlap-3">
          <div class="backgrund-lab"></div>
          <div class="backgrund-btn-add-4"></div>
          <div class="text-btn-add-lab">Добавить в проект</div>
          <img class="img" src="img/python-1.png" />
          <div class="text-description">“Объединяет простоту и мощь&#34;</div>
          <div class="text-name">Python</div>
        </div>
      </div>
    </div>
  </body>
</html>
